table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td {
    border-bottom: 1px solid #ddd;
    border-top: 1.5px solid darkgray;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;  
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    background-color: none;
    color: #38b6ff;
}