.nav-link span {
  font-size: large;
  font-weight: 500;
  color: #38B6FF;
}

.nav-link span:hover {
  color: lightslategray;

}

.navbar-toggler {
  border: none;
}

.jumbotron {
  background-color:lightgray;  
}

/*
.sidebar-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background: #333;
}

.sidebar-menu.open {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}
*/

.sidebar-menu {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 750ms;
  background-color: blue;
}

.sidebar-menu.open {
	right: 0;
  transition: 350ms;
}